<div class="container">
    <h1>Medios</h1>
    <p>En este apartado podrás encontrar información sobre los medios de comunicación de los eventos musicales.</p>

    <h2>Galerías de Fotos</h2>
    <li>En esta sección podrás encontrar una galería de fotos de eventos pasados.</li>
    <li>Fotos de artistas en acción.</li>
    <li>Fotos de la audiencia y el ambiente del evento.</li>

    <h2>Videos</h2>
    <li>En esta sección podrás encontrar videos de eventos pasados.</li>
    <li>Clips de actuaciones en vivo.</li>
    <li>Entrevistas con artistas.</li>
    <li>Videos promocionales de próximos eventos.</li>
    <li>Aftermovies de eventos pasados.</li>

    <h2>Entrevistas y Reportajes</h2>

    <li>Entrevistas con artistas y bandas.</li>
    <li>Reportajes sobre la organización de los eventos.</li>
    <li>Artículos de detrás de cámaras.</li>

    <h2>Podcasts</h2>
    <li>En esta sección podrás encontrar podcasts de eventos pasados.</li>    
    <li>Episodios de entrevistas con artistas.</li>
    <li>Análisis y resúmenes de eventos.</li>
    <li>Noticias y novedades sobre la escena musical.</li>

    <h2>Blogs y Artículos</h2>
    <li>En esta sección podrás encontrar blogs y artículos sobre eventos pasados.</li>
    <li>Reseñas de conciertos y festivales.</li>
    <li>Opiniones y análisis sobre tendencias en la música.</li>
    <li>Guías para asistentes a eventos (qué llevar, cómo prepararse, etc.).</li>

    <h2>Noticias y Comunicados de Prensa:</h2>
    <li>Anuncios de nuevos eventos.</li>
    <li>Cobertura de eventos recientes.</li>
    <li>Noticias sobre cambios o novedades en los eventos programados.</li>

   
    <h2>Reseñas y Críticas:</h2>

    <li>Reseñas de conciertos, festivales y otros eventos musicales.</li>
    <li>Críticas de álbumes y singles lanzados por artistas que participan en los eventos.</li>
    
    <h2>Social Media Feeds:</h2>
    <li>Integración de feeds de redes sociales (Instagram, Twitter, Facebook) relacionados con los eventos y artistas.</li>
    <li>Posts en vivo durante los eventos.</li>

    <h2>Playlists:</h2>
    <li>Playlists de música en plataformas como Spotify, Apple Music, etc., con canciones de los artistas que participarán en los eventos.</li>

    <h2>Colaboraciones y Patrocinios:</h2>
    <li>Información sobre patrocinadores y colaboradores de los eventos.</li>
    <li>Contenido exclusivo proporcionado por patrocinadores.</li>

    <h2>Material de Prensa:</h2>
    <li>Kits de prensa para descargar (fotos, biografías de artistas, información del evento).</li>
    <li>Contactos para medios de comunicación.</li>

    <h2>Foros y Comunidad:</h2>
    <li>Espacios para que los fans discutan sobre los eventos.</li>
    <li>Comentarios y experiencias de asistentes a eventos anteriores.</li>
</div>
