


<main class="main">
    <section id="sectionFestivales">
      <div class="container">
        <div class="row">
          <div class="col-4" >
            <h3>festivales</h3>
            <p>Disfruta de los mejores festivales de {{paisEvento1}}  y {{paisEvento2}} en un solo lugar.</p>
            <p>Mejor Ambiente</p>
            <p>Mejores Artitas</p>
            <p><a href="">¡Apuntante aqui!</a></p>
          </div>
        <div class="col-4" >
          <video src="../assets/festival_video.mov"  autoplay loop alt=""></video>
        </div> 
      </div>
    </div>
    </section>
    <section id="sectionEventos">
      <div class="container">
      <div class="row">
        <div class="col-4">
          <!-- <img src="../assets/bastiones.png" alt=""> -->
           <img src="../assets/eventos.jfif" alt=""> 
        </div>
        <div class="col-4" >
          <h3>eventos</h3>
          <p>Los mejores eventos de {{paisEvento1}}  y {{paisEvento2}} en un solo lugar.</p>
          <p>Ven y diviertete</p>
          <p>Mejores Experiencias</p>
          <p><a href="">¡Apuntante aqui!</a></p>
        </div> 
      </div>
      </div>
    </section>

    <app-lista-de-festivales/>

  </main>



